/* src/pages/Home.css */

/**
 * File name: Home.css
 * Student's Name: Cheska L. Mendoza
 * Student ID: 301352449
 * Date: 05/24/24
 */
 
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .home-logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .home-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .home-mission {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
    max-width: 600px; 
    line-height: 1.5;
  }
  
  .home-button {
    padding: 10px 20px;
    background-color: #a6855c; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold; 
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #8B4513; 
  }
  