/* src/components/Header.css */

/**
 * File name: Header.css
 * Student's Name: Cheska L. Mendoza
 * Student ID: 301352449
 * Date: 05/24/24
 */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  .logo {
    width: 50px;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  