/* src/components/Navigation.css */

/**
 * File name: Navigation.css
 * Student's Name: Cheska L. Mendoza
 * Student ID: 301352449
 * Date: 05/24/24
 */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3D4E17;
    color: white;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    height: 80px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    padding: 0.5rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
